body {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(#000108, #1c142e); /* фон */
    overflow-y: hidden; /* отключение вертикальной прокрутки */
    animation: fadeIn 1s ease-out; /* анимация фейда */
}

.button-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет кнопкам оборачиваться на следующий ряд */
    justify-content: space-between; /* Распределяет кнопки по ширине */
    margin-top: 60px; /* Отступ сверху */
    max-width: 800px; /* Максимальная ширина контейнера */
}

.link-button {
    /* Устанавливаем ширину кнопки на 30% для трех столбцов */
    width: calc(33.33% - 20px); /* Для трех столбцов */
    /* Если вы хотите 2 столбца, раскомментируйте следующую строку и закомментируйте предыдущую */
    /* width: calc(50% - 20px); */ /* Для двух столбцов */

    margin: 10px; /* Отступы между кнопками */
    display: inline-block; /* Для обеспечения корректного отображения */
    border: 2px solid white; /* Рамка */
    background: transparent; /* Прозрачный фон */
    color: white; /* Цвет текста */
    font-family: 'Roboto', sans-serif; /* Шрифт */
    height: 50px; /* Высота кнопки */
    font-size: 1.2em; /* Размер шрифта */
    border-radius: 5px; /* Закругленность углов */
    opacity: 0.5; /* Прозрачность */
    text-align: center; /* Центрирование текста */
    line-height: 50px; /* Центрирование текста по вертикали */
    transition: 0.3s; /* Плавный переход для эффектов */
    text-decoration: none; /* Убирает подчеркивание */
}

/* адаптивный дизайн */
@media (max-width: 600px) {
    .link-button {
        width: 100%; /* На мобильных кнопки занимают 100% ширины */
        margin-bottom: 10px; /* отступ */
    }

        /* Убираем последний отступ, чтобы не было лишнего места после последней кнопки */
        .link-button:last-child {
            margin-bottom: 0;
        }
}

    .link-button:hover {
        border: 2px solid #0c0629; /* рамка при наведении */
        background-color: rgba(255, 255, 255, 0.5); /* фон при наведении */
        color: #0c0629; /* цвет текста при наведении */
        opacity: 1; /* четкий текст */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* тень */
        cursor: pointer; /* указатель курсора */
    }

button {
    position: absolute;
    border: 2px solid white;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 2em;
    border-radius: 5px;
    opacity: 0.5;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%); /* центрирование */
    transition: 0.3s; /* плавный переход */
}

    button:hover {
        border: 2px solid #104F55; /* рамка при наведении */
        background-color: rgba(256, 256, 256, 0.5); /* фон при наведении */
        color: #104F55; /* цвет текста при наведении */
        opacity: 0.8; /* четкий текст */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* тень */
        cursor: pointer; /* указатель курсора */
    }

.header {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 2em;
}

#head1, #head2 {
    opacity: 0; /* скрыть заголовки */
    animation: fadeOut 1s 5s ease-in forwards; /* анимация исчезновения */
}

#head2 {
    animation: fadeIn 1s 6s ease-in forwards; /* анимация появления */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: white;
    position: fixed;
    transform: translate(95vw, 90vh);
}
